<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=robots content="index,follow">
    <meta name="description" content="SHORT_DESCRIPTION">
    <meta name="keywords" content="">
    <meta name="author" content="NAME">
    <title>Metron</title>
    <link rel="icon" href="/img/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/img/example.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Metron Sample Home Page</h1>
        <p>version 1.3.2</p>
        <img src="/img/logo.png">
    </div>



    <script src="/js/main.js"></script>
</body>
</html>